@using MVCSTOK.Models.Entity;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>KategoriID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
        <tr>
            <th> @ktgr.KategoriID </th>
            <td> @ktgr.KategoriAdi </td>
            <td><a href="/Kategori/Sil/@ktgr.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@ktgr.KategoriID" class="btn btn-success">Guncelle</a></td>
        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>